<div class="row">
    <div class="col">
        <h1 style="font-size: 1.7em;">En Şiddetli Depremler</h1>
        <table class="table table-dark table-hover table-sm">
            <thead>
            <tr>
                <th scope="col">Tarih</th>
                <th scope="col">Saat</th>
                <th scope="col">Büyüklük</th>
                <th scope="col">Yer</th>
            </tr>
            </thead>
            <tbody>
                {{#each allList}}
                <tr>
                    <th scope="row">{{this.date}}</th>
                    <td>{{this.time}}</td>
                    <td>{{floatToFixed this.ML}}</td>
                    <td>{{this.yer}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="col">
        <h1 style="font-size: 1.7em;">Günün Şiddetli Depremleri</h1>
        <table class="table table-dark table-hover table-sm">
            <thead>
            <tr>
                <th scope="col">Tarih</th>
                <th scope="col">Saat</th>
                <th scope="col">Büyüklük</th>
                <th scope="col">Yer</th>
            </tr>
            </thead>
            <tbody>
                {{#each todayList}}
                <tr>
                    <th scope="row">{{this.date}}</th>
                    <td>{{this.time}}</td>
                    <td>{{floatToFixed this.ML}}</td>
                    <td>{{this.yer}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<div class="row">
    <div class="col">
        <h1 style="font-size: 1.7em;">Dünün Şiddetli Depremleri</h1>
        <table class="table table-dark table-hover table-sm">
            <thead>
            <tr>
                <th scope="col">Tarih</th>
                <th scope="col">Saat</th>
                <th scope="col">Büyüklük</th>
                <th scope="col">Yer</th>
            </tr>
            </thead>
            <tbody>
                {{#each yesterdayList}}
                <tr>
                    <th scope="row">{{this.date}}</th>
                    <td>{{this.time}}</td>
                    <td>{{floatToFixed this.ML}}</td>
                    <td>{{this.yer}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
    <div class="col">
        <h1 style="font-size: 1.7em;">Haftanın Şiddetli Depremleri</h1>
        <table class="table table-dark table-hover table-sm">
            <thead>
            <tr>
                <th scope="col">Tarih</th>
                <th scope="col">Saat</th>
                <th scope="col">Büyüklük</th>
                <th scope="col">Yer</th>
            </tr>
            </thead>
            <tbody>
                {{#each weekList}}
                <tr>
                    <th scope="row">{{this.date}}</th>
                    <td>{{this.time}}</td>
                    <td>{{floatToFixed this.ML}}</td>
                    <td>{{this.yer}}</td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>